---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Welcome to my C.F.D. website!</h2>
			<h3>I'm glad you're here. Shall we learn CFD ? 🎉</h3>
			<p>
    			CFD tries to solve a initial-boundary value problem a partial differential equation.
				This equation is called the Navier Stokes equation.
				Numerical methods are used to discretize the NSE and computers are used to solve them on an industrial scale.
				CFD analyzes fluid flow, heat transfer and associated phenomena such as chemical reactions.
			</p>
  <!-- <app-katex-renderer [latex]="'
  \\rho \\bigg(\\dfrac{\\partial u}{\\partial t} + 
  (u.\\nabla)u\\bigg) =
  -\\nabla{p} +
  \\mu\\nabla^2 u
  '"></app-katex-renderer>
</div> -->
		</main>
		<Footer />
	</body>
</html>
